.mycard{
    background-color: black;
    color:white;
    width:300px;
    box-shadow: 5px 4px 5px rgb(192, 189, 189);
    
    }
    .mycard-title{
        text-align: center;
        background-color: crimson;
        color:white;
        padding:1rem;
        
    }
    .mycard-desription{
        text-align: justify;
    }
    .mycard-footer{
        background-color: crimson;
        color:white;
        text-align: center;
        padding:1rem
    }
    .card-specifier{
        background-color: rgb(109, 117, 231);
        width:300px;
        padding:1rem
    }
    .btn-in-de{
        margin-right: 1rem;
        width: 50px;
    }